<h1>The Rules</h1>
<br/>
<p>To play this game please select one of the three buttons to play against the computer</p>
<br/>
<p>The rules of the game are as follows:</p>
<ul class='rules'>
  <li>Paper covers Rock</li>
  <li>Rock blunts Scissors</li>
  <li>Scissors cuts Paper</li>
</ul>
